<%- include('../partials/header') %>

<div class="container">
    <header>
        <h1>Edit: <%= formData.title %></h1>
    </header>
    <hr>
    <div>
        <%- include ('./_form', { actionPath: '/blogs/update'}) %>
    </div>
</div>

<%- include ('../partials/footer') %>