<%- include('../partials/header') %>
<div class="container my-S">
    <header class="jumbotron">
        <h1>All About Me</h1>
    </header>
    <div>
        <p>The autobiography of Scott Baron</p>
    </div>
</div>    
<%- include('../partials/footer') %>